
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');


  /*common style */


  body{
    font-family: 'Open Sans', sans-serif;
  }

  .text-common{

    color: #FD6E0A;
  }

  .btn-common{
    color: white;
    background-color: #FD6E0A;
    font-size: 20px;
    font-weight: 700;
    padding: 10px 30px;
    border: none;
    transition: all 1s;
    border-radius: 5px;
  }

  .btn-common:hover{
    color: black;
    background-color: aqua;
    cursor: pointer;
  }

  /*common style */


/*nav section*/

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;

}

.nav-title{
    color: #181818;
    font-size: 30px;
    font-weight: 800;
}

.text-i{

    color: #FD6E0A;;
}

nav > ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a{
    text-decoration: none;
    color: #474747 ;
}

/*banner section*/

.header{
    background-color: #FFF8F3; 
     background-image: ;
 }
 
 .banner{
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
 }